<section *ngIf="view">
    <!-- <div class="Buttons">
    <button class="btn" routerLink="/login">Login</button>
    <button class="btn" routerLink="/admin">Admin</button>
    <button class="btn">Contact Us</button>
    </div> -->
    <h1>Book-Your-Movie
    </h1>
    <p>Book movie tickets for your favourite movies from your home, office or while travelling.</p>
    <div class="cta"> <button routerLink="/login">Get started</button><button>Live demo</button></div>
    <!-- <div class="cta"> <button (click)="open(mymodal)">Get started</button><button>Live demo</button> -->
        <!-- <button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">Open My Modal</button> -->
   
        <!-- <ng-template #mymodal let-modal class="modal">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Book-Your-Movie</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Are you a admin? or an user?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" routerLink="/admin" (click)="modal.close('Save click')">ADMIN</button>
            <button type="button" class="btn btn-primary" routerLink="/login" (click)="modal.close('Save click')">USER</button>
          </div>
        </ng-template></div> -->
</section>