<app-user-navbar></app-user-navbar>
<div class="section">
<div class="container">
   <div class="first">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1POrwQevu2cvct90wHLRUnLiY9qG02fJ6dA&usqp=CAU">
   </div>
   <div class="second">
    <h1>Jeams</h1>
    <p>Hero : Puneeth Rajkumar</p>
    <p>Heroin : Priya Anand</p>
    <p>Dairector : Chethan Kumar</p>
    <p>Release Date: 17 March 2022</p>
    <p>Price: 250Rs</p>
    <p>Discription: James is a 2022 Indian Kannada-language action drama film written and directed by Chethan Kumar. It stars Puneeth Rajkumar and Priya Anand. This is Puneeth's posthumous appearance following his death on 29 October 2021. The film marked the second collaboration between Puneeth, Priya and Sarathkumar after Raajakumara. </p>
   </div>
</div>
</div>