<app-admin-navbar></app-admin-navbar>
<div class="section">
  <div class="container-fluid">
    <h2>Movies</h2>
    <button routerLink="/adminMovie">More</button>
  </div>
    <div class="container">
        <div class="card">
          <div class="face face1">
            <div class="content">
              <h2>Charlie</h2>
              <a href="#">View Details</a>
            </div>
          </div>
          <div class="face face2">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1POrwQevu2cvct90wHLRUnLiY9qG02fJ6dA&usqp=CAU" alt="charlie">
          </div>
        </div>
        <div class="card">
          <div class="face face1">
            <div class="content">
              <h2>Charlie</h2>
              <a href="#">View Details</a>
            </div>
          </div>
          <div class="face face2">
            <img src="https://m.media-amazon.com/images/M/MV5BNDljMWQxZjQtODllNi00MzljLTg3ZGUtNDU4Zjk2NTAzMWQ2XkEyXkFqcGdeQXVyNDY3NTMzOTM@._V1_.jpg" alt="charlie">
          </div>
        </div>
        <div class="card">
          <div class="face face1">
            <div class="content">
              <h2>Charlie</h2>
              <a href="#">View Details</a>
            </div>
          </div>
          <div class="face face2">
            <img src="https://m.media-amazon.com/images/M/MV5BNDljMWQxZjQtODllNi00MzljLTg3ZGUtNDU4Zjk2NTAzMWQ2XkEyXkFqcGdeQXVyNDY3NTMzOTM@._V1_.jpg" alt="charlie">
          </div>
        </div>
        <div class="card">
          <div class="face face1">
            <div class="content">
              <h2>Charlie</h2>
              <a href="#">View Details</a>
            </div>
          </div>
          <div class="face face2">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1POrwQevu2cvct90wHLRUnLiY9qG02fJ6dA&usqp=CAU" alt="charlie">
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <h2>Theater</h2>
        <button routerLink="/adminMovie">More</button>
      </div>
        <div class="container" style="padding:20px">
            <div class="card">
              <div class="face face1">
                <div class="content">
                  <h2>Charlie</h2>
                  <a href="#">View Details</a>
                </div>
              </div>
              <div class="face face2">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1POrwQevu2cvct90wHLRUnLiY9qG02fJ6dA&usqp=CAU" alt="charlie">
              </div>
            </div>
            <div class="card">
              <div class="face face1">
                <div class="content">
                  <h2>Charlie</h2>
                  <a href="#">View Details</a>
                </div>
              </div>
              <div class="face face2">
                <img src="https://m.media-amazon.com/images/M/MV5BNDljMWQxZjQtODllNi00MzljLTg3ZGUtNDU4Zjk2NTAzMWQ2XkEyXkFqcGdeQXVyNDY3NTMzOTM@._V1_.jpg" alt="charlie">
              </div>
            </div>
            <div class="card">
              <div class="face face1">
                <div class="content">
                  <h2>Charlie</h2>
                  <a href="#">View Details</a>
                </div>
              </div>
              <div class="face face2">
                <img src="https://m.media-amazon.com/images/M/MV5BNDljMWQxZjQtODllNi00MzljLTg3ZGUtNDU4Zjk2NTAzMWQ2XkEyXkFqcGdeQXVyNDY3NTMzOTM@._V1_.jpg" alt="charlie">
              </div>
            </div>
            <div class="card">
              <div class="face face1">
                <div class="content">
                  <h2>Charlie</h2>
                  <a href="#">View Details</a>
                </div>
              </div>
              <div class="face face2">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1POrwQevu2cvct90wHLRUnLiY9qG02fJ6dA&usqp=CAU" alt="charlie">
              </div>
            </div>
          </div>

</div>