<body>
    <nav class="container">
      <input id="nav-toggle" type="checkbox" />
      <div class="logo">Book-Your-Movie</div>
      <ul class="links">
        <li class="list">
            <a href="/adminHome">Home</a>
            <div class="home_underline"></div>
          </li>
        <!-- <li class="list">
          <a href="/adminMovie">Movies</a>
          <div class="home_underline"></div>
        </li>-->
        <li class="list">
          <a href="/bookTicket">Tickets</a>
          <div class="home_underline"></div>
        </li> 
        <li class="list">
          <a href="">About</a>
          <div class="home_underline"></div>
        </li>
        <button>Contact</button>
      </ul>
      <label for="nav-toggle" class="icon-burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </label>
    </nav>
    <!-- <div class="header">
      <img src="https://png.pngtree.com/thumb_back/fh260/background/20191113/pngtree-blue-film-technology-film-background-image_322042.jpg" alt="" />
      <!-- <img src="https://images.unsplash.com/photo-1652021174975-81ddc1d8dd46?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1165&q=80" alt="" />
      <img src="https://images.unsplash.com/photo-1651972824059-96e321c58ec8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="" /> 
    </div> -->
    
  </body>