/* You can add global styles to this file, and also import other style files */
*{
    padding:0;
    margin:0;
    
}
/* body{
    background-image: linear-gradient(to left bottom, #ffffff, #cbc6e0, #9890c0, #675da1, #312e81);
} */