<app-admin-navbar></app-admin-navbar>
<div class="section">
    <div class="container1">
        <button class="btn"  (click)="open(mymodal)" >Add Movie</button>
        <h2>Movies</h2>
        <button class="btn" style="width:100px" routerLink="/adminHome">Back</button>
    </div>  

    <ng-template #mymodal let-modal class="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Add Movie</h4>
                <button type="button" class="close p-1" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form class="modal-body mx-3"  #myForm="ngForm">
                <div class="md-form mb-2" >
                  <i class="fas fa-envelope prefix grey-text">Movie name</i>
                  <input type="text" id="defaultForm" class="form-control"  required minlength="4" appForbiddenName="bob" name="movie_name" [(ngModel)]="movie.movie_name"  #name="ngModel">
                  <div *ngIf="name.invalid && (name.dirty || name.touched)"
                      class="alert">
                    <div *ngIf="name.errors?.['required']">
                     Name is required.
                    </div>
                    <div *ngIf="name.errors?.['minlength']">
                        Name must be at least 4 characters long.
                      </div>
                       <div *ngIf="name.errors?.['forbiddenName']">
                         Name cannot be Bob.
                      </div>

                  </div>
                  <!-- <label>Movie name</label> -->
                </div>

                <div class="md-form mb-2">
                    <i class="fas fa-envelope prefix grey-text">Language</i>
                    <input type="text" id="defaultForm" class="form-control" required name="language" [(ngModel)]="movie.language"  #language="ngModel">
                    <div *ngIf="language.invalid && (language.dirty || language.touched)"
                      class="alert">
                    <div *ngIf="language.errors?.['required']">
                     language is required.
                    </div>
                    </div>
                  </div>
        
                <div class="md-form mb-2">
                    <i class="fas fa-envelope prefix grey-text">Director</i>
                    <input type="text" id="defaultForm" class="form-control" required minlength="4" appForbiddenName="bob" name="director" [(ngModel)]="movie.director" #director="ngModel">
                    <div *ngIf="director.invalid && (director.dirty || director.touched)"
                    class="alert">
                  <div *ngIf="director.errors?.['required']">
                    Director is required.
                  </div>
                  <div *ngIf="director.errors?.['minlength']">
                    Director must be at least 4 characters long.
                    </div>
                     <div *ngIf="director.errors?.['forbiddenName']">
                      Director cannot be Bob.
                    </div>
                    

                </div>
               </div>

                  <div class="md-form mb-2">
                    <i class="fas fa-envelope prefix grey-text">Hero</i>
                    <input id="defaultForm" class="form-control"  required minlength="4" appForbiddenName="bob" name="hero" [(ngModel)]="movie.hero" #hero="ngModel">
                    <div *ngIf="hero.invalid && (hero.dirty || hero.touched)"
                    class="alert">
                  <div *ngIf="hero.errors?.['required']">
                    Hero is required.
                  </div>
                  <div *ngIf="hero.errors?.['minlength']">
                    Hero must be at least 4 characters long.
                    </div>
                     <div *ngIf="hero.errors?.['forbiddenName']">
                      Hero cannot be Bob.
                    </div>
                  </div>
                  </div>

                  <div class="md-form mb-2">
                    <i class="fas fa-envelope prefix grey-text">Heroien</i>
                    <input id="defaultForm" class="form-control" required minlength="4" appForbiddenName="bob" name="heroien" [(ngModel)]="movie.heroien" #heroien="ngModel">
                    <div *ngIf="heroien.invalid && (heroien.dirty || heroien.touched)"
                    class="alert">
                  <div *ngIf="heroien.errors?.['required']">
                    Heroien is required.
                  </div>
                  <div *ngIf="heroien.errors?.['minlength']">
                    Heroien must be at least 4 characters long.
                    </div>
                     <div *ngIf="heroien.errors?.['forbiddenName']">
                      Heroien cannot be Bob.
                    </div>
                  </div>
                    </div>
                  <div class="md-form mb-2">
                    <i class="fas fa-envelope prefix grey-text">Discription</i>
                    <input id="defaultForm"  class="form-control" required minlength="4" appForbiddenName="bob" name="discription" [(ngModel)]="movie.discription" #dis="ngModel">
                    <div *ngIf="dis.invalid && (dis.dirty || heroien.touched)"
                    class="alert">
                    <div *ngIf="dis.errors?.['required']">
                      Discription is required.
                    </div>
                    <div *ngIf="dis.errors?.['minlength']">
                      Discription must be at least 4 characters long.
                      </div>
                       <div *ngIf="dis.errors?.['forbiddenName']">
                        Discription cannot be Bob.
                      </div>
                    </div>
                  </div>
                  
                  <!-- <div class="md-form mb-2" *ngFor="let file of mov.movieImages">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <img [src]="file.url" width="100" height="100">
                    <label>poster</label>
                  </div>  -->

                  <!-- <div class="md-form mb-5">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="email" id="defaultForm" class="form-control validate">
                    <label>Discription</label>
                  </div> -->
                </form>
                  </div>
              </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" [disabled]="!myForm.form.valid" (click)="onsubmit()">Submit</button>
          <button type="button" class="btn btn-primary"  (click)="modal.close('Save click')">Cancel</button>
        </div>
      </ng-template>
    
<table class="rwd-table">
    <tbody>
      <tr>
        <th>Movie Name</th>
        <th>Language</th>
        <th>Director</th>
        <th>Hero</th>
        <th>Heroien</th>
        <th>Discription</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let mov of movies">
        <td>{{mov.movie_name}}</td>
        <!-- <td >
          <img src="{{mov.poster}}" width="100px" height="100px">
        </td> -->
        <td>
          {{mov.language}}
          </td>
        <td>
          {{mov.director}}
        </td>
        <td data-th="Invoice Date">
          {{mov.hero}}
        </td>
        <td>
          {{mov.heroien}}
        </td>
        <td>
         {{mov.discription}}
        </td>
        <!-- <td data-th="Net Amount">
          $3,255.49
        </td> -->
        <td>
            <button class="btn" (click)="deletepost(mov.movie_id)">Delete</button>
            <button class="btn"  (click)="update(mov.movie_id)">Edit</button>
          </td>
      </tr>
      <!-- <tr>
        <td data-th="Supplier Code">
          BOX5599
        </td>
        <td data-th="Supplier Name">
          BOX Pro West
        </td>
        <td data-th="Supplier Name">
            UPS
          </td>
        <td data-th="Invoice Number">
          ASDF43000
        </td>
        <td data-th="Invoice Date">
          6/27/2016
        </td>
        <td data-th="Invoice Number">
          ASDF19218
        </td>
        <td data-th="Due Date">
          12/25/2016
        </td>
        <td data-th="Net Amount">
          $45,255.49
        </td>
        <td data-th="Net Amount">
            <button class="btn">Delete</button>
            <button class="btn" (click)="open(mymodal1)">Edit</button>
          </td>
      </tr>
      <tr>
        <td data-th="Supplier Code">
          PAN9999
        </td>
        <td data-th="Supplier Name">
          Pan Providers and Co.
        </td>
        <td data-th="Supplier Name">
            UPS
          </td>
        <td data-th="Invoice Number">
          ASDF33433
        </td>
        <td data-th="Invoice Date">
          6/29/2016
        </td>
        <td data-th="Invoice Number">
          ASDF19218
        </td>
        <td data-th="Due Date">
          12/25/2016
        </td>
        <td data-th="Net Amount">
          $12,335.69
        </td>
        <td data-th="Net Amount">
            <button class="btn">Delete</button>
            <button class="btn" (click)="open(mymodal1)">Edit</button>
          </td>
      </tr> -->
    </tbody>
  </table>
  <!-- <ng-template #mymodal1 let-modal class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Edit Movie</h4>
            <button type="button" class="close p-1" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3">
            <div class="md-form mb-2">
              <i class="fas fa-envelope prefix grey-text"></i>
              <input type="text" id="defaultForm" class="form-control validate" name="movie_name" [(ngModel)]="movie.movie_name">
              <label>Movie name</label>
            </div>

            <div class="md-form mb-2">
                <i class="fas fa-envelope prefix grey-text"></i>
                <input type="text" id="defaultForm" class="form-control validate" name="language" [(ngModel)]="movie.language">
                <label>Language</label>
              </div>
    
            <div class="md-form mb-2">
                <i class="fas fa-envelope prefix grey-text"></i>
                <input type="text" id="defaultForm" class="form-control validate" name="director" [(ngModel)]="movie.director">
                <label>Director</label>
              </div>

              <div class="md-form mb-2">
                <i class="fas fa-envelope prefix grey-text"></i>
                <input id="defaultForm" class="form-control validate" name="hero" [(ngModel)]="movie.hero">
                <label >Hero</label>
              </div>

              <div class="md-form mb-2">
                <i class="fas fa-envelope prefix grey-text"></i>
                <input id="defaultForm" class="form-control validate" name="heroien" [(ngModel)]="movie.heroien">
                <label>Heroien</label>
              </div>
    
              <div class="md-form mb-2">
                <i class="fas fa-envelope prefix grey-text"></i>
                <input type="file" id="defaultForm" class="form-control validate" name="poster" [(ngModel)]="movie.poster">
                <label>Poster</label>
              </div> 

              <!-- <div class="md-form mb-5">
                <i class="fas fa-envelope prefix grey-text"></i>
                <input type="email" id="defaultForm" class="form-control validate">
                <label>Discription</label>
              </div> -->
          <!-- </div>
        </div>
      </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" >Submit</button>
      <button type="button" class="btn btn-primary"  (click)="modal.close('Save click')">Cancel</button>
    </div>
  </ng-template> -->

</div>

