

<app-user-navbar></app-user-navbar>
<div class="section">
  <div class="container-fluid">
    <h2>Streaming Movies</h2>
    <!-- <button>More</button> -->
  </div>
    <div class="container">
      <div class="card" *ngFor="let mov of movies">
        <div class="title">
      <h1>{{mov.movie_name}}</h1>
      <h2>Language: {{mov.language}}</h2>
    </div>
    <div class="content">
  <div class="social">
         <h2><strong>Overview</strong></h2>
      <h2>Director:
       {{mov.director}}</h2>
      </div>
      
  <div class="social">
    <h2>Hero:
      {{mov.hero}}</h2>
      </div>
      
  <div class="social">
    <h2>Heroien:
      {{mov.heroien}}</h2>
      </div>
    <div class="social">
      <h2>Discription:
        {{mov.discription}}</h2>
        <!-- <i class="fa-solid fa-camera-movie"></i> -->
        </div>
        <button  class="btn"  (click)="openModal('custom-modal-1')">Book Ticket</button>
    </div>
  <div class="circle"><i class='fa fa-video-camera'></i></div>
  </div>
  </div>
      </div>


<jw-modal id="custom-modal-2">
    <div class="con" *ngIf="movie">
       <div class="first">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1POrwQevu2cvct90wHLRUnLiY9qG02fJ6dA&usqp=CAU">
       </div>
       <div class="third">
       <div class="second" *ngIf="movies">
        <h1>{{movie.movie_name}}</h1>
        <p>Hero : {{movie.hero}}</p>
        <p>Heroin : {{movie.heroien}}</p>
        <p>Dairector : {{movie.director}}</p>
        <p>Release Date: 17 March 2022</p>
        <p>Price: 250Rs</p>
        <p>Discription: James is a 2022 Indian Kannada-language action drama film written and directed by Chethan Kumar. It stars Puneeth Rajkumar and Priya Anand. This is Puneeth's posthumous appearance following his death on 29 October 2021. The film marked the second collaboration between Puneeth, Priya and Sarathkumar after Raajakumara. </p>
        </div>
        <div class="fourth">
          <button>Watch Trailer</button>
          <button  (click)="openModal('custom-modal-1')">Book ticket</button>
        <button class="btn1" (click)="closeModal('custom-modal-2');">Close</button>
        </div>
       </div>
    </div>
  <!-- <button (click)="closeModal('custom-modal-2');">Close</button> -->
</jw-modal>

<jw-modal id="custom-modal-1">
  <div class="con" >
     <div class="one">
     <label>Name: <input type="text" name="ticket" [(ngModel)]="ticket.name" ></label>
     <label>Number of seats: <input type="number" name="no_of_seats" [(ngModel)]="ticket.no_of_seats"></label>
     <label>Movie Date: <input type="date" min="{{minDate}}" name="movie_date" [(ngModel)]="ticket.movie_date"></label>
     <label>Movie Price: <input type="text" disabled="true" name="price" [(ngModel)]="ticket.price"></label>
     <label for="website">Movies: 
     <select  class="form-control" name="movie_name" [(ngModel)]="ticket.movie_name"> 
        <option>Choose Movie</option>
       <option *ngFor="let mov of movies">{{mov.movie_name}}</option> 
     </select>  </label>
     <label>Select Theater:
     <select  class="form-control" name="theater_name" [(ngModel)]="ticket.theater_name"> 
      <option>Choose Theater</option>
     <option *ngFor="let thea of theaters">{{thea.theatre_name}}</option> 
   </select> </label>
   <label>Show Time:
     <select  class="form-control" name="movie_time" [(ngModel)]="ticket.movie_time"> 
      <option>9.00 am</option>
      <option>12.30 pm</option>
      <option>4.00 pm</option>
      <option>7.30 pm</option>
      <option>11.00 pm</option> 
   </select> </label>
     <!-- <label>Phone Number: <input type="number" name="ph_no" [(ngModel)]="ticket.ph_no"></label> -->
     <!-- <label>show timings: <input type="text"></label> -->
     <p>click confirm to select seats</p>
     <button (click)="onConfirm()">Get Total Price</button>
     </div>
     <div class="two">
      <div class="four">
        <h2>Book ticket</h2>
      </div>
      <div class="seatStructure">
          
        
        <table id="seatsBlock">
         <p id="notification"></p>
          <tr>
            <td colspan="20"><div class="screen">SCREEN</div></td>
            <!-- <td rowspan="20">
              <div class="smallBox greenBox">Selected Seat</div> <br/>
              <div class="smallBox redBox">Reserved Seat</div><br/>
              <div class="smallBox emptyBox">Empty Seat</div><br/>
            </td> -->
            
            <br/>
          </tr>
          
          <tr>
            <td></td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
        </tr>
          
        <tr>
            <td>A</td>
            <td  *ngFor="let item of options"><input type="checkbox"  (change)="onChange($event, item)"   [checked]="checked(item)" class="seats" ></td>
          </tr>
          
          <tr>
            <td>B</td>
            <td  *ngFor="let item of option1"><input type="checkbox"   (change)="onChange($event, item)"   [checked]="checked(item)" class="seats" ></td>
          </tr>
          
          <tr>
            <td>C</td>
            <td  *ngFor="let item of option2"><input type="checkbox"   (change)="onChange($event, item)"   [checked]="checked(item)" class="seats" ></td>
        </tr>
          
        <tr>
            <td>D</td>
            <td  *ngFor="let item of option3"><input type="checkbox"   (change)="onChange($event, item)"   [checked]="checked(item)" class="seats" ></td>
        </tr>
          
        <tr>
            <td>E</td>
            <td  *ngFor="let item of option4"><input type="checkbox"   (change)="onChange($event, item)"   [checked]="checked(item)" class="seats" ></td>
        </tr>
          
      
          
        <tr>
          <td>F</td>
          <td  *ngFor="let item of option5"><input type="checkbox"   (change)="onChange($event, item)"   [checked]="checked(item)" class="seats" ></td>
        </tr>
          
        <tr>
          <td>G</td>
          <td  *ngFor="let item of option6"><input type="checkbox"   (change)="onChange($event, item)"   [checked]="checked(item)" class="seats" ></td>
        </tr>
          
        <tr>
            <td>H</td>
            <td  *ngFor="let item of option7"><input type="checkbox"   (change)="onChange($event, item)"   [checked]="checked(item)" class="seats" ></td>
        </tr>
          
          
        </table> 
        <!-- <h3>Options</h3>
        {{options | json}}
        <h3>Selected</h3>
        {{selected | json}} -->
        <br>
        <!-- <h3>Seats</h3>
        <div class="seat" *ngFor="let item of options">
          <label><input  type="checkbox" 
          (change)="onChange($event, item)"
          [checked]="checked(item)"
        >
          {{item}}</label>
        </div> -->
        <br>
        {{selected.length}} items selected <br>
        <!-- <button (click)="save()">Save</button>
        
        <h3 *ngIf="messages.length != 0">Log</h3>
        <div *ngFor="let item of messages">
        save: {{item}}
        </div> -->
    <!-- </div> -->
        <div class="five">
          <p>Seat number you booked: {{selected| json}}  </p>
          <p>Total amount: {{seats_no}}</p>
          <p>movie time: {{ticket.movie_time}}</p>
        </div>
        <div class="six">
        <button (click)="onsubmit()">Confirm selecting</button>
        <button class="btn1" (click)="closeModal('custom-modal-1');">Close</button>
        </div>
       
      <!-- <div class="fourth">
        <button>Watch Trailer</button>
        <button>Book ticket</button>
      <button class="btn1" (click)="closeModal('custom-modal-2');">Close</button>
      </div> -->
     </div>
  </div>
  </div>
<!-- <button (click)="closeModal('custom-modal-2');">Close</button> -->
</jw-modal>

